{% extends 'emails/layout.html.twig' %}
{% trans_default_domain 'emails' %}

{% block content %}

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
<tbody>
    <tr>
    <td  align="left">
    {{ 'registration.hi' | trans | raw }}
    </td>
    </tr>
    <tr>
    <td align="center">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td> 
                <a href="https://finpharma.ma/share" >{{ 'registration.open_app' | trans }}</a>
                </td>
            </tr>
        </tbody>
        </table>
    </td>
    </tr>
    <tr>
     <td align="left">
     {{ 'registration.text_welcome' | trans | raw }}
      </td>
    </tr>
</tbody>
</table>


{% endblock %}